* {
  
  font-family: 'Montserrat', sans-serif;
}

/* body{
  margin: 100px 0px;
} */

h2, h3, h4, p {

  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --m-color: #000000 !important;
  --s-color: #f3f3f3    !important;
  --t-color: #868686 !important;
  --a-color: #046380 !important;

}

.tx-m {
  color: var(--m-color) !important;
}

.tx-s {
  color: var(--s-color) !important;
}

.tx-t {
  color: var(--t-color)!important;
}

.tx-a {
  color: var(--a-color) !important;
}

.bg-m {
  background-color: var(--m-color) !important;
}

.bg-s {
  background-color: var(--s-color) !important;
}

.bg-t {
  background-color: var(--t-color) !important;
}

.bg-a {
  background-color: var(--a-color) !important;
}

/* NAVBAR */
.bi-person{
 color: #000000!important;
 font-weight: bold!important;
}

 .bi-person:hover{
  color: var(--a-color)!important;
  transition:  0.3s ease-out;
}


.personToggle{
  color: #000000!important;
 font-weight: bold!important;
}
.bi-search{
  color: #000000!important;
 font-weight: bold!important;
 cursor: pointer;
}

.bi-search:hover{
  color: var(--a-color)!important;
  transition:  0.3s ease-out;
}

.personToggle:hover{
  color: var(--a-color)!important;
  transition:  0.3s ease-out;
}

.home:hover{
  color: var(--a-color)!important;
  transition:  0.3s ease-out;

}

.categorie:hover{
  color: var(--a-color)!important;
  transition:  0.3s ease-out;
  cursor: pointer;

}


.nav-active {
  background-color: white!important;
  
  transition: 0.7s;
  animation-direction: alternate-reverse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-reverse {
  transition: 0.7s;
  animation-direction: alternate-reverse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
/* PRIMO CAROSELLO */

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CAROSELLO HOMEPAGE */

.parallax-bg1 {
  position: absolute;
  background-image: url(/public/media/cuffie.jpg);
  left: 0;
  top: 0;
  width: 120%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.parallax-bg2 {
  position: absolute;
  background-image: url(/public/media/car.jpg);
  left: 0;
  top: 0;
  width: 120%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.parallax-bg3 {
  position: absolute;
  background-image: url(/public/media/phone.png);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top center;
  z-index: -1;
}

.slideCustom{
  width: 50vw;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .slideCustom {
      width: 50%;
      height: 100%; 
  }
}

/* FINE CAROSELLO HOMEPAGE */

/* PAGINA SHOW */
hr{
  margin: 15px auto;
  width: 85%;
}

.showDescription{
  text-align: justify;
  text-justify: inter-word;
}

.bi-heart{
 cursor: pointer;
}

.bi-cart4:hover{
  cursor: pointer;
  color: var(--a-color)!important;

}

/* INIZIO CARD MASSICCIA */
.card--1 .card__img, .card--1 .card__img--hover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like {
  width: 18px;
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #AD7D52;
}
.card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.4s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.00, 1.00);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.75;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}
/* FINE CARD MASSICCIA */

.marginAlert{
  margin-top: 100px;
}


